/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
	font-family: 'Open Sans', sans-serif;
  padding: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
  margin-top: 4rem;
}


h2 {
  margin-top: 6rem;
}

h3 {
  /*font-style: italic;*/
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #fffef7;
  padding: 0.5rem;
  display: block;
}
/*
add on
*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #fffef7;
	--text-color: #111111;
	--main-color: #c8815f;
	--big-font: 4.5rem;
	--h2-font: 3.3rem;
	--h3-font: 2rem;
	--normal-font: 1rem;
}

a {
	/*
		Setting colours for elements can be done in a variety of ways. You can use just the colour name 'blue', you can use a HEX value '#00AAFF', you can specify an rgb value 'rgb(0,200,255)', and you can specify an rgb value with alpha (or opacity) using 'rgba(0,200,255,0.8)' (80%).
	*/
	color: rgb(0, 0, 0);

	/*
		The transition property makes it very easy to create smooth transitions for different CSS properties. In this case, with the two statements below we are specifying that we want to transition the 'color' property over 0.5 seconds. Note that you have to have another state for the element - example below in a:hover - for it to actually make use of the transition.
	*/
	transition-property: color;
	transition-duration: 0.5s;
}
nav a:hover, nav a:focus {
  text-decoration: none;
  color: #c8815f;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  color: #c8815f;
  border: 1px solid #F7F4F1;
  background-color: #F7F4F1;
}

.btn{
	display: inline-block;
	padding: 13px 25px;
	background: var(--main-color);
	color: var(--bg-color);
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 600;
	border-radius: 5px;
	transition: all .35s ease;
}
.btn:hover{
	transform: translateY(-5px);
	background: var(--text-color);
}

.imgclick img:hover{
  opacity: 0.5;
}
/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: #fffef7;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}



/* 
  TEXT ELEMENTS -------------------
*/

/*Q and A*/
.explain-box {
	margin-top: 20px;
	width: 80%;
	max-width: 70%;
	padding: 20px;
	text-align: left;
	background-color: #c8815f;
	position: relative;
	top: 20px;
	color:#F7F4F1;
	border: 0px solid rgb(0, 0, 0);
	border-radius: 8px;
  }

.form-background {
  background: rgb(255, 255, 255);
  padding: 30px;
}

.form-white {
  background-color: #00651e;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}


/* 
  COMBINED ELEMENTS -------------------
*/

/*
navlist
*/
.logo{
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--text-color);
}
.nav_top {
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 20px 14%;
	transition: all .35s ease;
	background-color: #fffef7;
}
.navlist{
	display: flex;	
	
}
.navlist a{
	color: var(--text-color);
	font-weight: 600;
	padding: 10px 25px;
	font-size: var(--normal-font);
	transition: all .36s ease;

}
.navlist a:hover{
	color: var(--main-color);
}
.header-icons i{
	font-size: 32px;
	color: var(--text-color);
	margin-right: 20px;
	transition: all .36s ease;
}
.header-icons i:hover{
	color: var(--main-color);
}
#menu-icon{
	font-size: 34px;
	color: var(--text-color);
	z-index: 10001;
	margin-right: 20px;
	display: none;
}
/* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	color: var(--text-color);
	font-weight: 600;
	padding: 0px 0px;
	font-size: var(--normal-font);
	transition: all .36s ease;
	background-color: #00000000;
	border: 0px solid #ccbfb0;
}

  /* Add a red background color to navbar links on hover */
  .dropdown:hover .dropbtn {
	color: var(--main-color);  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9b7;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.039);
	border-radius: 6px;
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 12px;
	margin-left: 10px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
  }

  @media (max-width: 800px) {
	.dropdown-content:hover{
		display: none;
	}
	.dropdown:hover .dropbtn {
		display: none;
	}
	.dropdown .dropbtn{
		display: none;
	}
	.dropdown .dropbtn:hover{
		display: none;
	}
  }

/*
home
*/

.home{
	min-height: 100vh;
	width: 100%;
	background: url(../img/background.jpg);
	background-size: cover;
	background-position: center top;
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}
.home-text h1{
	font-size: var(--big-font);
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: .2rem;
	margin-bottom: 1.4rem;
  margin-left: 60px;
  text-shadow: 2px 2px 2px #fffef7;

}
.home-text span{
	font-size: var(--h2-font);
}
.home-text p{
	font-size: var(--normal-font);
	font-weight: 500;
	margin-bottom: 3rem;
	letter-spacing: .2rem;
  margin-left: 60px;
}
.home .btn{
  margin-left: 60px;
}
/*
new
*/

.new-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 2rem;
	align-items: center;
	margin-top: 4rem;
	text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;

}
.box{
	position: relative;
	transition: all .40s ease;
}
.box img{
	width: 90%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 10px;
}
.box h5{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.box h6{
	font-size: 16px;
	font-weight: 700;
}
.sale{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 30px;
	background: var(--main-color);
	color: var(--bg-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.box:hover{
	transform: scale(0.9) translateY(-5px);
	cursor: pointer;
}

/*
sale banner
*/

.cta{
	height: 60vh;
	width: 100%;
	background: url(../img/bannerimg.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
}
.cta-text h6{
	font-size: 17px;
	font-weight: 500;
	letter-spacing: .6px;
	margin-bottom: 14px;
  margin-left: 60px;
}
.cta-text h4{
	font-size: 3.3rem;
	line-height: 1.2;
	letter-spacing: .6rem;
	margin-bottom: 30px;
  margin-left: 60px;
  text-shadow: 2px 2px 2px #fffef7;

}
.cta .btn{
  margin-left: 60px;
}
/*
feature
*/
.center-text h2{
	font-size: var(--h3-font);
}
.featured-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	gap: 1.3rem;
	align-items: center;
	margin-top: 4rem;
}
.row{
	position: relative;
	transition: all .35s ease;
}
.row img{
	width: 100%;
	height: auto;
  border-radius: 10px;

}
.fea-text{
	position: absolute;
	top: 40px;
	left: 50px;
}
.fea-text h5{
	font-size: 19px;
	letter-spacing: 2px;
	margin-bottom: 1rem;
}
.fea-text p{
	color: #555;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 400;
}
.row .arrow{
	position: absolute;
	bottom: 40px;
	left: 50px;
}
.row .arrow i{
	height: 35px;
	width: 35px;
	background: var(--bg-color);
	border-radius: 50%;
	font-size: 20px;
	color: var(--text-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all .35s ease;
}
.row:hover{
	transform: scale(0.9) translateY(-5px);
	cursor: pointer;
}
.row:hover i{
	background: var(--main-color);
	color: var(--bg-color);
}


/*
payment
*/

.payment_row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 40%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #F7F4F1;
  padding: 5px 20px 15px 20px;  
  border-radius: 10px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #d4d4d4;
  border-radius: 0px;
}
input[type=password] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #d4d4d4;
  border-radius: 0px;
}
input[type=password]:hover {
  background-color: #E2C5A7;
}
input[type=text]:hover {
  background-color: #E2C5A7;
}
.payment_row .btn{
	width: 100%;
	text-align: center;
}
label {
  /*margin-bottom: 10px;*/
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

span.price {
  float: right;
  color: #000000;
  font-size: medium;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/*
cart
*/
.cart-background {
  width: 100%;
  background-color: #F7F4F1;
  padding: 30px;
  max-width: 760px;
  border-radius: 10px;
}
.cart-table {
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
  background: #fff;
  text-align: center;
}

.cart-table td, .cart-table th{
  padding: 15px;
  /*border: 1px solid #ccbfb0;*/
}

.cart-table th:nth-child(2) {
  width: 400px;
}

.cell-long {
  width: 700px;
}

 /*
 contact
 */

 #contact {
  position: relative;
  width: 600px;
  margin-top: 30px;
  background-color: #F7F4F1;
  border-radius: 10px;
  padding: 30px;
}
textarea {
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  font-size: 0.875em;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  font-size: 11px;
}

textarea:hover {
  background: #E2C5A7;
  color: #000000;
}

/*login*/
.account-info {
  padding: 20px 20px 0 20px;
  max-width: 500px;
  border-radius: 4px;
}
.account-info label {
  color: #000000;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.account-info input {
  background: #fff;
  border: 1px solid #d4d4d4;
  color: #000000;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.account-action {
  background: #fffef7;
  border-top: 1px solid #d4d4d4;
  padding: 20px;
  max-width: 500px;

}
.account-action .btn {
  border: 0;
  color: #fffef7;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;
}
.account-action label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}

 /*
detail page
*/
.container_detail{
	width: 66%;
	height: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: right;
	background-color: white;
	margin: 20px 20px;
	margin-left: 4%;
	border-radius: 6px;
  }
  .container_detail .img-box{
	width: 40%;
	height: 100%;
	background: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  }
  
  .container_detail .img-box img{
	width: 100%;
	max-width: 100%;
	height: 100%;
	border-radius: 10px 0px 0px 10px;

  }
  .container_detail .text-box{
	width: 50%;
	padding: 6% 4% 4% 0%;
	box-sizing: border-box;
  }
  .container_detail .text-box h1{
	font-size: 2em;
	color: rgb(0, 0, 0);
	line-height: 1em;
	margin-bottom: 20px;
  }
  .container_detail .text-box span{
	font-size: .4em;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #666;
	font-weight: 100;
  }
  .container_detail .text-box p{
	font-size: 1em;
	color: rgb(0, 0, 0);
	line-height: 1.5em;
  }
  .container_detail .text-box h2{
	font-size: 2em;
	font-weight: 600;
	color: #c8815f;
	margin-top: 40px;
	float: left;
  }
  .container_detail .text-box .btn{
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 500;
	float: right;
	border-radius: 10px;
	margin-top: 40px;
  }
  
  #detail strong {
	color: #c8815f;
  }
  @media(max-width: 1080px){
	.container_detail{
	  height: auto;
	}
	.container_detail .img-box{
	  width: 100%;

	}
	.container_detail .img-box img{
	  width: 100%;
	  transform: rotate(0deg);
	  padding: 40px;
	  box-sizing: border-box;
	}
	.container_detail .text-box{
	  width: 100%;
	}
	.container_detail .text-box h1{
	  font-size: 2em;
	  line-height: .8em;
	}
	.container_detail .text-box h2{
	  margin-top: 20px;
	  width: 100%;
	}
	.container_detail .text-box .btn{
	  margin-top: 10px;
	}
  }

/*footer-contact*/

.contact2{
	background: #000000;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 10rem;
  padding: 40px;
}
.contact2 li{
	font-size: 23px;
	margin-bottom: 1rem;
	color: #fffef7;
	font-weight: 600;
  }
.main-contact h3{
	font-size: 23px;
	margin-bottom: 1rem;
	color: #fffef7;
}
.main-contact h5{
	font-size: 15px;
	font-weight: 600;
	color: #555;
}
.icons{
	display: flex;
	margin-top: 2rem;
}
.icons i{
	font-size: 25px;
	margin-right: 1rem;
	color: #555;
	transition: all .35s ease;
}
.icons i:hover{
	color: #fffef7;
	transform: scale(1.1) translateY(-5px);
}
.main-contact li{
	margin-bottom: 10px;
}
.main-contact li a{
	display: block;
	color: #555;
	font-size: var(--normal-font);
	font-weight: 600;
	transition: all .35s ease;
}
.main-contact li a:hover{
	transform: translateX(-8px);
	color: #fffef7;
}

.last-text{
	text-align: center;
	padding: 10px;
	background: #000000;
}
.last-text p{
	color: #555;
	font-size: 14px;
	letter-spacing: 1px;
}

.top{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}
.top i{
	font-size: 22px;
	color: #fffef7;
	padding: 14px;
	background: #c8815f;
	border-radius: 2rem;
}


@media (max-width: 1000px){
	header{
		padding: 7px 4%;
		transition: .2s;
	}
	header.sticky{
		padding: 14px 4%;
		transition: .2s;
	}
	section{
		padding: 80px 4%;
		transition: .1s;
	}
}

@media (max-width: 670px){
	#menu-icon{
		display: block;
		cursor: pointer;
	}
	.header-icons{
		display: inline-flex;
	}
	.navlist{
		position: absolute;
		top: 100%;
		left: -100%;
		width: 280px;
		height: 120vh;
		background: #fffef7;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 150px 30px;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		margin: 1.2rem 0;

	}
	.navlist.open{
		left: 0;
	}
}

/*numbered list*/

#numberlist div span {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  width:25px;
  height:25px;
  border-radius:50%;
  background-color:#c8815f;
  margin: 10px;
  color:#fffef7;
}

/*feedback*/
.panel-container {
	margin: 10%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	font-size: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	max-width: 30%;
	text-align: center;
  }
  
  .panel-container strong {
	line-height: 20px;
  }
  
  .panel-container p {
	margin: 25px 0;
	line-height: 20px;
  }
  
  .ratings-container {
	display: flex;
	margin: 20px 0;
  }
  
  .rating {
	cursor: pointer;
	flex: 1;
	padding: 20px;
	margin: 10px 5px;
  }
  
  .rating.active,
  .rating:hover {
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .rating img {
	width: 40px;
  }
  
  .rating small {
	color: #555;
	display: inline-block;
	margin: 10px 0 0;
  }
  
  .rating.active small,
  .rating:hover small {
	color: #111;
  }
  
  .fa-heart {
	color: red;
	font-size: 30px;
	margin-bottom: 10px;
  }

  @media(max-width: 800px){
	.panel-container {
		max-width: 80%;
		margin-top: 45%;
		margin-bottom: 30%;
	}
  }